body {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "游明朝",
    "Yu Mincho", "游明朝体", "YuMincho", "MS P明朝", "MS PMincho", serif;
}

.font-title {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", "游ゴシック", "Yu Gothic", "MS Pゴシック", "MS PGothic",
    sans-serif;
}

.text-jade {
  color: #38b48b;
}
.text-d {
  color: #20664f;
}
.text-b {
  color: #103327;
}

.leftcolor-green {
  padding-left: 10px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #38b48b;
}
