{% extends 'base.html' %} {% block content %}
<h2 class="leftcolor-green mt-5 mb-3 text-b font-title">ログイン</h2>
<p class="text-d mb-3">
  ユーザー登録が済んでいない方は<a href="{% url 'accounts:signup' %}"
    >ユーザー登録</a
  >をしてください<br />登録済みの方はログインすることでアプリを使用できます
</p>
<form method="POST">
  {% csrf_token %}
  <input class="form-control" name="username" />
  <br />

  <input class="form-control" type="password" name="password" />
  <br />

  <button
    class="btn btn-outline-jade font-title d-block mx-auto"
    type="submit"
    value="ログイン"
  >
    ログイン
  </button>
</form>

{% endblock %}
